Waveform:
<select id ="waveform-dropdown" name="ugen" value="{{synth.ugen}}">
  <option value="flock.ugen.sinOsc">Sine</option>
  <option value="flock.ugen.triOsc">Triangle</option>
  <option value="flock.ugen.sawOsc">Saw</option>
  <option value="flock.ugen.squareOsc">Square</option>
  <option value="flock.ugen.lfNoise">Noise</option>
</select>
