<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script  type ="text/javascript" src="/source/flocking-all.min.js"></script>
  <script src ="/assets/js/hyasynth.js"></script>
  <script src="/assets/js/dom-manip.js"></script>
</script>
  <title>hyasynth</title>
</head>
<body>
  <div class="main-container">
    <h1>hyasynth</h1>
    {{{body}}}
  </div>
</body>
</html>
